version: '3.8'

services:
  backend:
    image: djsanchezc06/aej03-be:latest
    environment:
      - SERVER_PORT=8080
    ports:
      - "8080:8080"
    restart: always

  frontend:
    image: djsanchezc06/aej03-fe:latest
    environment:
      - VITE_APIURL=http://backend:8080
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always